/*main container*/
.page-container {
  position:relative;
  text-align: center;
  padding: 20px;
}

.auth-links {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.auth-links a {
  margin-left: 10px;
  text-decoration: none;
  color: #007BFF; 
}

.auth-links a:hover {
  text-decoration: underline;
}

