/*main container*/
.page-container {
  /*position:relative;
  */
  text-align: center;
  padding: 20px;

}

.auth-links {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.auth-links a {
  margin-left: 10px;
  text-decoration: none;
  color: #007BFF; 
}

.auth-links a:hover {
  text-decoration: underline;
}

/*animation css */
.scene {

  background-color: #87CEEB;
  min-height:500px;
  width:100%;
  height:100%;
}

/*
.snowflakes {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('snowflake.png'); 
  background-repeat: repeat;
  animation: falling-snow 10s linear infinite;
}
*/
.person {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*
.umbrella {
  width: 100px;
  height: 100px;
  background-image: url('umbrella.png');
  background-repeat: no-repeat;
  animation: umbrella-shake 0.5s infinite alternate;
}
*/

@keyframes falling-snow {
  0% {
      background-position: 0px 0px;
  }
  100% {
      background-position: 0px 2000px;
  }
}